.care-maintenance ul {
	padding-left: 3em;
}

.care-maintenance ul li {
	padding-left: 5px;
	line-height: 2;
	text-align: justify;
}

h1.works-section-heading {
	margin: 0 auto 30px;
}

.works-section-stack svg {
	margin-bottom: 10px;
}

.works-section-stack p {
	margin: 0 auto 30px;
}
