.banner {
	max-height: 1080px;
}

.slogan {
	font-size: 2rem;
	font-weight: 600;
}

.paragraph {
	font-size: 1rem;
	line-height: 1.75;
	margin: 0 auto 2rem;
	text-align: justify;
}

@media screen and (max-width: 768px) {
	.slogan {
		font-size: 1.5rem;
	}
}

@media screen and (max-width: 460px) {
	.slogan {
		display: none;
	}
}
